* {
    border: 1px solid black;
}

.two-column-container {
    height: 70vh;
    width: 70vw;
    margin: auto;
    padding: 1em;
}

.column {
    width: 40%;
    height: 90%;
    display: inline-block;
    padding: 1em;
    margin: 1em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50vw;
    margin: auto;
}

.card {
    border: 1px solid black; 
    height: 30vh;
    width: 15vw;
    margin: 1em;
    padding: 1em;
}